In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from openbb import obb
obb.user.preferences.output_type = "dataframe"

# Strategy: Buy SPY at end of day Monday when Monday has been a down day.
# Hold for 1 day or 4 days.

## Get daily price data

In [2]:
# Set the start date to 2 years ago
today = pd.Timestamp.today().strftime("%Y-%m-%d")
start_date = (pd.Timestamp.today() - pd.Timedelta(days=365*2)).strftime("%Y-%m-%d")

In [3]:
spy = obb.equity.price.historical(
    "SPY",
    start_date = start_date,
    end_date = today,
    provider="yfinance"
)

In [4]:
spy.index = pd.to_datetime(spy.index).tz_localize("US/Eastern")

### Add calculated series: 1-day log return, 4-day forward log return, and day of week

In [5]:
# compute log returns
spy["log_return"] = spy['close'].apply(np.log).diff(1)
# Compute the returns looking forward 4 trading days
spy["forward_return"] = - spy["close"].apply(np.log).diff(-4)

In [6]:
spy

,open,high,low,close,volume,split_ratio,dividend,capital_gains,log_return,forward_return
date,,,,,,,,,,
2022-10-10 00:00:00-04:00,363.959991,364.209991,357.670013,360.019989,76042800,0.0,0.0,0.0,NaN,-0.006661
2022-10-11 00:00:00-04:00,358.239990,363.029999,355.709991,357.739990,92482800,0.0,0.0,0.0,-0.006353,0.025065
2022-10-12 00:00:00-04:00,358.170013,359.820007,356.299988,356.559998,76991800,0.0,0.0,0.0,-0.003304,0.040050
2022-10-13 00:00:00-04:00,349.209991,367.510010,348.109985,365.970001,147254500,0.0,0.0,0.0,0.026049,0.006889
2022-10-14 00:00:00-04:00,368.549988,370.260010,356.959991,357.630005,123737000,0.0,0.0,0.0,-0.023052,0.021521
...,...,...,...,...,...,...,...,...,...,...
2024-10-02 00:00:00-04:00,567.710022,569.900024,565.270020,568.859985,38097800,0.0,0.0,0.0,0.000422,0.007548
2024-10-03 00:00:00-04:00,567.359985,569.799988,565.489990,567.820007,40846500,0.0,0.0,0.0,-0.001830,NaN
2024-10-04 00:00:00-04:00,572.349976,573.359985,568.099976,572.979980,42939100,0.0,0.0,0.0,0.009046,NaN
2024-10-07 00:00:00-04:00,571.299988,571.960022,566.630005,567.799988,49964700,0.0,0.0,0.0,-0.009082,NaN
2024-10-08 00:00:00-04:00,570.419983,573.780029,569.530029,573.169983,37318600,0.0,0.0,0.0,0.009413,NaN

In [7]:
# add a column with the day of the week
spy["day_of_week"] = spy.index.dayofweek

In [8]:
spy

,open,high,low,close,volume,split_ratio,dividend,capital_gains,log_return,forward_return,day_of_week
date,,,,,,,,,,,
2022-10-10 00:00:00-04:00,363.959991,364.209991,357.670013,360.019989,76042800,0.0,0.0,0.0,NaN,-0.006661,0
2022-10-11 00:00:00-04:00,358.239990,363.029999,355.709991,357.739990,92482800,0.0,0.0,0.0,-0.006353,0.025065,1
2022-10-12 00:00:00-04:00,358.170013,359.820007,356.299988,356.559998,76991800,0.0,0.0,0.0,-0.003304,0.040050,2
2022-10-13 00:00:00-04:00,349.209991,367.510010,348.109985,365.970001,147254500,0.0,0.0,0.0,0.026049,0.006889,3
2022-10-14 00:00:00-04:00,368.549988,370.260010,356.959991,357.630005,123737000,0.0,0.0,0.0,-0.023052,0.021521,4
...,...,...,...,...,...,...,...,...,...,...,...
2024-10-02 00:00:00-04:00,567.710022,569.900024,565.270020,568.859985,38097800,0.0,0.0,0.0,0.000422,0.007548,2
2024-10-03 00:00:00-04:00,567.359985,569.799988,565.489990,567.820007,40846500,0.0,0.0,0.0,-0.001830,NaN,3
2024-10-04 00:00:00-04:00,572.349976,573.359985,568.099976,572.979980,42939100,0.0,0.0,0.0,0.009046,NaN,4
2024-10-07 00:00:00-04:00,571.299988,571.960022,566.630005,567.799988,49964700,0.0,0.0,0.0,-0.009082,NaN,0
2024-10-08 00:00:00-04:00,570.419983,573.780029,569.530029,573.169983,37318600,0.0,0.0,0.0,0.009413,NaN,1

### Apply strategy: Select Mondays on which SPY went down

In [9]:
# Select the Mondays on which SPY went down
result_set = spy.loc[(spy["day_of_week"] == 0) & (spy["log_return"] < 0)].dropna()

## Check results

In [10]:
sample = result_set["forward_return"].describe()

In [11]:
sample

count    29.000000
mean      0.005265
std       0.015405
min      -0.025862
25%      -0.002939
50%       0.005140
75%       0.013466
max       0.029725
Name: forward_return, dtype: float64

### Compare with population mean and calculate t score

In [12]:
population = spy["forward_return"].describe()

In [13]:
population['mean']

0.003695957683490128

In [14]:
t = (sample['mean'] - population['mean']) / (sample['std'] / (sample['count'] ** 0.5))

In [15]:
t

0.5484088147134322