In [30]:
import yfinance as yf
import matplotlib.pyplot as plt
import pandas as pd
from datetime import datetime, timedelta

# If SPY closes within 0.5 points of its high on Friday,
# what happens on the next trading day?

## Get 2 years of daily data for SPY

In [32]:
spy = yf.Ticker("SPY")
daily_ohlc = spy.history(start="2021-12-08", end="2023-12-07", interval="1D")
# Identify the day of the week for each day
daily_ohlc['day_of_week'] = daily_ohlc.index.dayofweek

## Identify setups and calculate next day returns

In [34]:
#Calculate the next day's net change
daily_ohlc['next_day_change'] = daily_ohlc['Close'].shift(-1) - daily_ohlc['Close']

#Select Fridays (day_of_week = 4) on which the close is less than 0.5 points below the high
daily_ohlc['setup'] = (daily_ohlc['day_of_week'] == 4) & (daily_ohlc['Close'] >= daily_ohlc['High'] - 0.5)

# Get results and desciptive statistcs
result_df = daily_ohlc.loc[daily_ohlc['setup'] == True]
result_df['next_day_change'].describe()

count    24.000000
mean     -0.415389
std       3.577828
min      -8.080292
25%      -1.762932
50%      -0.418488
75%       0.938202
max       7.746979
Name: next_day_change, dtype: float64

In [35]:
result_df

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains,day_of_week,next_day_change,setup
Date,,,,,,,,,,,
2021-12-10 00:00:00-05:00,455.071593,456.691186,452.433665,456.536011,77159800,0.000,0.0,0.0,4,-4.044128,True
2022-01-14 00:00:00-05:00,448.845584,452.641189,447.590105,452.281097,95890900,0.000,0.0,0.0,4,-8.009735,True
2022-01-28 00:00:00-05:00,421.098621,430.169164,416.368721,430.120514,164457400,0.000,0.0,0.0,4,7.746979,True
2022-02-25 00:00:00-05:00,418.110824,426.120546,416.407666,426.032959,121804500,0.000,0.0,0.0,4,-1.090027,True
2022-03-18 00:00:00-04:00,427.600574,434.297683,426.839095,433.965759,106345500,1.366,0.0,0.0,4,-0.126923,True
2022-03-25 00:00:00-04:00,440.448100,442.224895,437.782908,441.941772,77101300,0.000,0.0,0.0,4,3.143524,True
2022-05-27 00:00:00-04:00,398.224987,405.517628,398.019982,405.400482,84768700,0.000,0.0,0.0,4,-2.274689,True
2022-06-24 00:00:00-04:00,373.952810,382.473132,373.923397,382.463318,98050300,0.000,0.0,0.0,4,-1.460876,True
2022-07-01 00:00:00-04:00,369.207378,374.247030,366.501259,373.795990,74839700,0.000,0.0,0.0,4,0.705902,True
2022-07-15 00:00:00-04:00,375.080376,377.727668,373.109643,377.610016,79060400,0.000,0.0,0.0,4,-3.117889,True
2022-08-12 00:00:00-04:00,413.789547,418.868397,412.809073,418.760559,61694500,0.000,0.0,0.0,4,1.725555,True
2022-10-28 00:00:00-04:00,373.982690,383.483126,373.795632,382.990875,100302000,0.000,0.0,0.0,4,-2.766479,True
2022-12-23 00:00:00-05:00,375.482411,378.854982,373.880200,378.706635,59857300,0.000,0.0,0.0,4,-1.493439,True
2022-12-30 00:00:00-05:00,376.461605,378.380281,374.275843,378.231934,84022200,0.000,0.0,0.0,4,-1.592346,True
2023-01-20 00:00:00-05:00,385.817722,391.692518,384.116602,391.534271,91806400,0.000,0.0,0.0,4,4.697845,True
2023-02-10 00:00:00-05:00,401.404699,403.956394,400.564054,403.560791,70769700,0.000,0.0,0.0,4,4.737366,True
2023-02-17 00:00:00-05:00,401.602498,403.036593,399.614553,402.789337,89257800,0.000,0.0,0.0,4,-8.080292,True
2023-03-03 00:00:00-05:00,395.322189,400.010177,394.649661,399.753021,90120000,0.000,0.0,0.0,4,0.276947,True
2023-03-24 00:00:00-04:00,389.017635,392.988823,386.595207,392.899475,107682400,0.000,0.0,0.0,4,0.734680,True
2023-03-31 00:00:00-04:00,401.745312,406.749018,401.636089,406.441254,112062600,0.000,0.0,0.0,4,1.548767,True
2023-04-21 00:00:00-04:00,409.221080,409.707541,407.215641,409.231018,73457400,0.000,0.0,0.0,4,0.426880,True
2023-04-28 00:00:00-04:00,408.526121,412.944081,408.466556,412.934143,89335600,0.000,0.0,0.0,4,-0.416992,True
2023-11-10 00:00:00-05:00,435.980011,440.929993,433.829987,440.609985,89462200,0.000,0.0,0.0,4,-0.419983,True
2023-11-24 00:00:00-05:00,455.070007,455.500000,454.730011,455.299988,29737400,0.000,0.0,0.0,4,-0.819977,True