In [34]:
import yfinance as yf
import matplotlib.pyplot as plt
import pandas as pd
from datetime import datetime, timedelta

In [35]:
# Specify the contracts and stocks
# Modify tickers when contracts roll
es_contract = yf.Ticker("ESZ23.CME")
us_contract = yf.Ticker("ZBH24.CBT")
cl_contract = yf.Ticker("CLF24.NYM")
ng_contract = yf.Ticker("NGF24.NYM")
gc_contract = yf.Ticker("GCG24.CMX")
si_contract = yf.Ticker("SIH24.CMX")
ec_contract = yf.Ticker("6EZ23.CME")
bp_contract = yf.Ticker("6BZ23.CME")
w_contract = yf.Ticker("ZWH24.CBT")
c_contract = yf.Ticker("ZCH24.CBT")
s_contract = yf.Ticker("ZSF24.CBT")
btc_contract = yf.Ticker("BTCZ23.CME")
nvda = yf.Ticker("NVDA")

In [36]:
# Get today's and tomorrow's dates
todays_date = datetime.today().strftime('%Y-%m-%d')
tomorrows_date = (datetime.today() + timedelta(1)).strftime('%Y-%m-%d')

In [37]:
# Get contract data in 30-minute bars and create a series using just the Close values
# Replicate for as many quotes as desired
# S&P 500 futures
es_intraday = es_contract.history(start=todays_date, end=tomorrows_date, interval="30m")
es_series =  es_intraday['Close']
es_series.rename('ES', inplace=True)
# 30-year Treasury bond futures
us_intraday = us_contract.history(start=todays_date, end=tomorrows_date, interval="30m")
us_series =  us_intraday['Close']
us_series.rename('US', inplace=True)

Datetime
2023-11-30 00:00:00-05:00    117.21875
2023-11-30 00:30:00-05:00    117.21875
2023-11-30 01:00:00-05:00    117.25000
2023-11-30 01:30:00-05:00    117.28125
2023-11-30 02:00:00-05:00    117.34375
2023-11-30 02:30:00-05:00    117.50000
2023-11-30 03:00:00-05:00    117.28125
2023-11-30 03:30:00-05:00    117.25000
2023-11-30 04:00:00-05:00    117.28125
2023-11-30 04:30:00-05:00    117.12500
2023-11-30 05:00:00-05:00    117.09375
2023-11-30 05:30:00-05:00    116.96875
2023-11-30 06:00:00-05:00    116.96875
2023-11-30 06:30:00-05:00    117.00000
2023-11-30 07:00:00-05:00    117.00000
2023-11-30 07:30:00-05:00    117.06250
2023-11-30 08:00:00-05:00    117.28125
2023-11-30 08:30:00-05:00    116.84375
2023-11-30 09:00:00-05:00    116.75000
2023-11-30 09:30:00-05:00    116.56250
2023-11-30 10:00:00-05:00    116.59375
2023-11-30 10:30:00-05:00    116.84375
2023-11-30 11:00:00-05:00    116.68750
2023-11-30 11:30:00-05:00    116.75000
2023-11-30 12:00:00-05:00    116.65625
2023-11-30 12:30:00-05:00    116.46875
2023-11-30 13:00:00-05:00    116.53125
2023-11-30 13:30:00-05:00    116.46875
2023-11-30 14:00:00-05:00    116.46875
2023-11-30 14:30:00-05:00    116.46875
2023-11-30 15:00:00-05:00    116.15625
2023-11-30 15:30:00-05:00    116.65625
2023-11-30 16:00:00-05:00    116.62500
Freq: 30T, Name: US, dtype: float64

In [38]:
prices = pd.concat([es_series, us_series], axis="columns")

In [40]:
prices.tail(10)

                                ES         US
Datetime
2023-11-30 11:30:00-05:00  4549.50  116.75000
2023-11-30 12:00:00-05:00  4547.25  116.65625
2023-11-30 12:30:00-05:00  4552.50  116.46875
2023-11-30 13:00:00-05:00  4547.75  116.53125
2023-11-30 13:30:00-05:00  4550.75  116.46875
2023-11-30 14:00:00-05:00  4555.00  116.46875
2023-11-30 14:30:00-05:00  4562.50  116.46875
2023-11-30 15:00:00-05:00  4552.75  116.15625
2023-11-30 15:30:00-05:00  4574.75  116.65625
2023-11-30 16:00:00-05:00  4573.50  116.62500