In [1]:
import numpy as np
import yfinance as yf
import matplotlib.pyplot as plt
import pandas as pd
import statsmodels.api as sm
from datetime import datetime, timedelta

# Strategy: Buy when NVDA goes up 5% or more in a day;
# hold for specified number of days

## Specify parameters for analysis

In [2]:
holding_period = 5
start_date_string = "2021-12-31"
tomorrows_date = (datetime.today() + timedelta(1)).strftime('%Y-%m-%d')
# I overrode the end date for this run because there was an incomplete trade at the end
# end_date_string = tomorrows_date
end_date_string = "2024-01-05"

## Get data

In [3]:
# Get daily price data
nvda = yf.Ticker("NVDA")
daily_ohlc = nvda.history(start=start_date_string, end=end_date_string, interval="1D")

In [4]:
daily_ohlc

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-12-31 00:00:00-05:00,296.331277,299.886372,292.906009,293.704895,26653000,0.0,0.0
2022-01-03 00:00:00-05:00,297.739352,306.687003,297.439778,300.795135,39154700,0.0,0.0
2022-01-04 00:00:00-05:00,302.352952,304.260324,283.099509,292.496552,52715400,0.0,0.0
2022-01-05 00:00:00-05:00,289.091278,293.754859,274.950776,275.659821,49806400,0.0,0.0
2022-01-06 00:00:00-05:00,276.019282,283.988301,270.277202,281.391876,45418600,0.0,0.0
...,...,...,...,...,...,...,...
2023-12-28 00:00:00-05:00,496.429993,498.839996,494.119995,495.220001,24658700,0.0,0.0
2023-12-29 00:00:00-05:00,498.130005,499.970001,487.510010,495.220001,38869000,0.0,0.0
2024-01-02 00:00:00-05:00,492.440002,492.950012,475.950012,481.679993,41125400,0.0,0.0
2024-01-03 00:00:00-05:00,474.850006,481.839996,473.200012,475.690002,32089600,0.0,0.0
2024-01-04 00:00:00-05:00,477.670013,485.000000,475.079987,479.980011,30653500,0.0,0.0

## Calculate daily net change, and identify trade setups

In [5]:
daily_ohlc['log_change'] = np.log(daily_ohlc['Close']) - np.log(daily_ohlc['Close'].shift(1))

In [6]:
# A buy setup is a 5% increase in one day
daily_ohlc.loc[daily_ohlc['log_change'] >= 0.05, 'buy_setup_int'] = 1
daily_ohlc.loc[daily_ohlc['log_change'] < 0.05, 'buy_setup_int'] = 0

In [7]:
daily_ohlc

,Open,High,Low,Close,Volume,Dividends,Stock Splits,log_change,buy_setup_int
Date,,,,,,,,,
2021-12-31 00:00:00-05:00,296.331277,299.886372,292.906009,293.704895,26653000,0.0,0.0,NaN,NaN
2022-01-03 00:00:00-05:00,297.739352,306.687003,297.439778,300.795135,39154700,0.0,0.0,0.023854,0.0
2022-01-04 00:00:00-05:00,302.352952,304.260324,283.099509,292.496552,52715400,0.0,0.0,-0.027977,0.0
2022-01-05 00:00:00-05:00,289.091278,293.754859,274.950776,275.659821,49806400,0.0,0.0,-0.059285,0.0
2022-01-06 00:00:00-05:00,276.019282,283.988301,270.277202,281.391876,45418600,0.0,0.0,0.020581,0.0
...,...,...,...,...,...,...,...,...,...
2023-12-28 00:00:00-05:00,496.429993,498.839996,494.119995,495.220001,24658700,0.0,0.0,0.002122,0.0
2023-12-29 00:00:00-05:00,498.130005,499.970001,487.510010,495.220001,38869000,0.0,0.0,0.000000,0.0
2024-01-02 00:00:00-05:00,492.440002,492.950012,475.950012,481.679993,41125400,0.0,0.0,-0.027722,0.0
2024-01-03 00:00:00-05:00,474.850006,481.839996,473.200012,475.690002,32089600,0.0,0.0,-0.012514,0.0
2024-01-04 00:00:00-05:00,477.670013,485.000000,475.079987,479.980011,30653500,0.0,0.0,0.008978,0.0

In [8]:
# Set target position to 1 (100%) for the holding period after a buy setup
daily_ohlc.loc[daily_ohlc['buy_setup_int'].rolling(holding_period).sum() >= 1, 'target_position'] = 1.00
daily_ohlc.loc[daily_ohlc['buy_setup_int'].rolling(holding_period).sum() < 1, 'target_position'] = 0.00

In [9]:
daily_ohlc.iloc[150:190]

,Open,High,Low,Close,Volume,Dividends,Stock Splits,log_change,buy_setup_int,target_position
Date,,,,,,,,,,
2022-08-08 00:00:00-04:00,174.845687,182.208342,172.248270,177.752777,98185900,0.00,0.0,-0.065055,0.0,0.0
2022-08-09 00:00:00-04:00,172.348185,174.296240,167.073445,170.689835,66826300,0.00,0.0,-0.040546,0.0,0.0
2022-08-10 00:00:00-04:00,176.803733,180.999547,172.997530,180.789764,59742200,0.00,0.0,0.057487,1.0,1.0
2022-08-11 00:00:00-04:00,181.129420,186.883693,178.581956,179.241302,50932700,0.00,0.0,-0.008602,0.0,1.0
2022-08-12 00:00:00-04:00,181.419134,186.993563,179.351188,186.903656,47809400,0.00,0.0,0.041860,0.0,1.0
2022-08-15 00:00:00-04:00,186.823731,191.449125,185.944618,190.130447,45766600,0.00,0.0,0.017117,0.0,1.0
2022-08-16 00:00:00-04:00,189.011555,191.229345,184.825725,188.601959,45124000,0.00,0.0,-0.008072,0.0,1.0
2022-08-17 00:00:00-04:00,185.045521,186.693887,181.269287,183.167404,44679900,0.00,0.0,-0.029238,0.0,0.0
2022-08-18 00:00:00-04:00,182.827714,188.462096,181.648897,187.543015,41544700,0.00,0.0,0.023608,0.0,0.0
2022-08-19 00:00:00-04:00,183.876670,185.015533,177.523004,178.312225,44158800,0.00,0.0,-0.050472,0.0,0.0
2022-08-22 00:00:00-04:00,174.725790,175.405120,169.491018,170.170334,40959300,0.00,0.0,-0.046736,0.0,0.0
2022-08-23 00:00:00-04:00,169.720769,174.476022,169.530956,171.638855,36998600,0.00,0.0,0.008593,0.0,0.0
2022-08-24 00:00:00-04:00,169.950532,173.886610,168.781700,172.048447,52266100,0.00,0.0,0.002384,0.0,0.0
2022-08-25 00:00:00-04:00,168.272229,179.291242,168.162338,178.951584,77069100,0.00,0.0,0.039339,0.0,0.0
2022-08-26 00:00:00-04:00,178.392160,179.061491,162.208283,162.438065,76912700,0.00,0.0,-0.096818,0.0,0.0
2022-08-29 00:00:00-04:00,160.040452,163.217293,157.512973,157.852631,49613200,0.00,0.0,-0.028635,0.0,0.0
2022-08-30 00:00:00-04:00,159.441053,160.230260,151.668803,154.525940,53018100,0.00,0.0,-0.021300,0.0,0.0
2022-08-31 00:00:00-04:00,153.686778,155.245222,149.441011,150.789673,57371000,0.00,0.0,-0.024476,0.0,0.0
2022-09-01 00:00:00-04:00,141.948478,143.656782,132.567831,139.231186,117886500,0.00,0.0,-0.079750,0.0,0.0
2022-09-02 00:00:00-04:00,140.859563,141.568862,135.774636,136.334076,74315700,0.00,0.0,-0.021027,0.0,0.0
2022-09-06 00:00:00-04:00,137.173223,137.652741,133.377005,134.515869,53575100,0.00,0.0,-0.013426,0.0,0.0
2022-09-07 00:00:00-04:00,135.535174,138.283252,133.366693,137.044113,51265700,0.04,0.0,0.018621,0.0,0.0
2022-09-08 00:00:00-04:00,134.495885,139.982052,133.596521,139.802170,62487300,0.00,0.0,0.019925,0.0,0.0
2022-09-09 00:00:00-04:00,141.471044,144.638827,141.161248,143.769424,48661200,0.00,0.0,0.027982,0.0,0.0
2022-09-12 00:00:00-04:00,143.589543,145.368298,141.880732,144.948593,48415900,0.00,0.0,0.008168,0.0,0.0
2022-09-13 00:00:00-04:00,137.923517,139.122675,130.898432,131.218201,71495600,0.00,0.0,-0.099518,0.0,0.0
2022-09-14 00:00:00-04:00,132.447331,132.807080,129.039726,131.188217,58850700,0.00,0.0,-0.000229,0.0,0.0
2022-09-15 00:00:00-04:00,130.058984,132.237468,127.810565,129.199585,52362500,0.00,0.0,-0.015275,0.0,0.0
2022-09-16 00:00:00-04:00,127.330916,132.027627,126.081790,131.887726,67075100,0.00,0.0,0.020593,0.0,0.0
2022-09-19 00:00:00-04:00,130.029030,134.535887,130.009055,133.726456,56968500,0.00,0.0,0.013845,0.0,0.0
2022-09-20 00:00:00-04:00,132.057604,134.735738,130.478722,131.667877,52481800,0.00,0.0,-0.015514,0.0,0.0
2022-09-21 00:00:00-04:00,132.037613,140.211886,131.008334,132.517273,80767900,0.00,0.0,0.006430,0.0,0.0
2022-09-22 00:00:00-04:00,130.608616,131.398072,124.193107,125.522179,75916200,0.00,0.0,-0.054231,0.0,0.0
2022-09-23 00:00:00-04:00,124.113159,126.021827,122.484301,125.072495,66330900,0.00,0.0,-0.003589,0.0,0.0
2022-09-26 00:00:00-04:00,124.822670,126.501488,122.054602,122.194504,54734300,0.00,0.0,-0.023279,0.0,0.0
2022-09-27 00:00:00-04:00,124.982558,127.270958,122.494301,124.043213,55385400,0.00,0.0,0.015016,0.0,0.0
2022-09-28 00:00:00-04:00,124.013228,128.140337,123.453622,127.270950,54241400,0.00,0.0,0.025688,0.0,0.0
2022-09-29 00:00:00-04:00,124.392968,124.912601,119.376473,122.114555,53276300,0.00,0.0,-0.041359,0.0,0.0
2022-09-30 00:00:00-04:00,120.785497,126.241679,120.665578,121.305130,56563800,0.00,0.0,-0.006650,0.0,0.0
2022-10-03 00:00:00-04:00,123.383676,126.691360,120.965370,125.032524,54747800,0.00,0.0,0.030265,0.0,0.0

In [10]:
# Select the days with buy or sell setups
transactions = daily_ohlc.loc[
    ((daily_ohlc['buy_setup_int'] == 1) & (daily_ohlc['buy_setup_int'].shift(1) == 0))
    | ((daily_ohlc['buy_setup_int'] == 0) & (daily_ohlc['buy_setup_int'].shift(1) == 1))][['Close', 'buy_setup_int']]

In [11]:
transactions['exit_close'] = transactions['Close'].shift(-1)
transactions['y_log_return'] = np.log(transactions['Close'].shift(-1)) - np.log(transactions['Close'])

In [12]:
transactions

                                Close  buy_setup_int  exit_close  y_log_return
Date
2022-01-31 00:00:00-05:00  244.522766            1.0  246.040665      0.006188
2022-02-01 00:00:00-05:00  246.040665            0.0  266.682159      0.080561
2022-02-09 00:00:00-05:00  266.682159            1.0  257.884308     -0.033546
2022-02-10 00:00:00-05:00  257.884308            0.0  264.585144      0.025652
2022-02-15 00:00:00-05:00  264.585144            1.0  264.744843      0.000603
...                               ...            ...         ...           ...
2023-05-26 00:00:00-04:00  389.353363            0.0  437.455505      0.116488
2023-08-14 00:00:00-04:00  437.455505            1.0  439.325165      0.004265
2023-08-15 00:00:00-04:00  439.325165            0.0  469.590027      0.066620
2023-08-21 00:00:00-04:00  469.590027            1.0  456.602203     -0.028047
2023-08-22 00:00:00-04:00  456.602203            0.0         NaN           NaN

[70 rows x 4 columns]

## Calculate net changes of entire time period (population) and of trades (sample)

In [13]:
trades = transactions.loc[transactions['buy_setup_int'] == 1]

In [14]:
trades

                                Close  buy_setup_int  exit_close  y_log_return
Date
2022-01-31 00:00:00-05:00  244.522766            1.0  246.040665      0.006188
2022-02-09 00:00:00-05:00  266.682159            1.0  257.884308     -0.033546
2022-02-15 00:00:00-05:00  264.585144            1.0  264.744843      0.000603
2022-02-24 00:00:00-05:00  237.152908            1.0  241.237289      0.017076
2022-03-09 00:00:00-05:00  229.862183            1.0  226.306488     -0.015590
2022-03-15 00:00:00-04:00  229.452667            1.0  247.361038      0.075152
2022-03-18 00:00:00-04:00  264.210663            1.0  267.017273      0.010567
2022-03-24 00:00:00-04:00  281.160187            1.0  276.585693     -0.016404
2022-04-28 00:00:00-04:00  197.581207            1.0  185.246109     -0.064464
2022-05-02 00:00:00-04:00  195.094193            1.0  195.783386      0.003526
2022-05-13 00:00:00-04:00  176.846268            1.0  172.431610     -0.025280
2022-05-17 00:00:00-04:00  181.550583            1.0  169.175537     -0.070597
2022-05-26 00:00:00-04:00  178.294510            1.0  186.494598      0.044966
2022-06-02 00:00:00-04:00  195.683487            1.0  186.974030     -0.045529
2022-06-24 00:00:00-04:00  171.089432            1.0  168.521988     -0.015120
2022-07-19 00:00:00-04:00  169.750748            1.0  177.892624      0.046849
2022-07-27 00:00:00-04:00  177.722794            1.0  179.660889      0.010846
2022-08-10 00:00:00-04:00  180.789764            1.0  179.241302     -0.008602
2022-10-04 00:00:00-04:00  131.577942            1.0  131.997635      0.003185
2022-10-17 00:00:00-04:00  118.796883            1.0  119.586319      0.006623
2022-10-25 00:00:00-04:00  132.517273            1.0  128.869843     -0.027910
2022-11-04 00:00:00-04:00  141.461029            1.0  142.909988      0.010191
2022-11-10 00:00:00-05:00  157.389877            1.0  163.155869      0.035980
2022-11-30 00:00:00-05:00  169.154953            1.0  171.274002      0.012449
2022-12-08 00:00:00-05:00  171.613846            1.0  169.934601     -0.009833
2023-01-09 00:00:00-05:00  156.210693            1.0  159.019440      0.017821
2023-01-20 00:00:00-05:00  178.310867            1.0  192.564545      0.076903
2023-02-01 00:00:00-05:00  209.337112            1.0  216.993713      0.035922
2023-02-07 00:00:00-05:00  221.631653            1.0  221.951523      0.001442
2023-02-14 00:00:00-05:00  229.608139            1.0  227.539062     -0.009052
2023-02-23 00:00:00-05:00  236.535049            1.0  232.756729     -0.016103
2023-03-16 00:00:00-04:00  255.340088            1.0  257.179596      0.007178
2023-05-25 00:00:00-04:00  379.696014            1.0  389.353363      0.025116
2023-08-14 00:00:00-04:00  437.455505            1.0  439.325165      0.004265
2023-08-21 00:00:00-04:00  469.590027            1.0  456.602203     -0.028047

In [15]:
# Get log returns for the entire population based on the holding period
population = daily_ohlc.iloc[::holding_period][['Close', 'buy_setup_int']]

In [16]:
# Repeat the same calculations for the population
population['exit_close'] = population['Close'].shift(-1)
population['y_log_return'] = np.log(population['Close'].shift(-1)) - np.log(population['Close'])

In [17]:
population

                                Close  buy_setup_int  exit_close  y_log_return
Date
2021-12-31 00:00:00-05:00  293.704895            NaN  272.094727     -0.076425
2022-01-07 00:00:00-05:00  272.094727            0.0  269.048981     -0.011257
2022-01-14 00:00:00-05:00  269.048981            0.0  233.398102     -0.142148
2022-01-24 00:00:00-05:00  233.398102            0.0  244.522766      0.046563
2022-01-31 00:00:00-05:00  244.522766            1.0  246.939407      0.009835
...                               ...            ...         ...           ...
2023-11-29 00:00:00-05:00  481.357666            0.0  455.029999     -0.056247
2023-12-06 00:00:00-05:00  455.029999            0.0  480.880005      0.055254
2023-12-13 00:00:00-05:00  480.880005            0.0  481.109985      0.000478
2023-12-20 00:00:00-05:00  481.109985            0.0  495.220001      0.028906
2023-12-28 00:00:00-05:00  495.220001            0.0         NaN           NaN

[101 rows x 4 columns]

## Calculate backtest statistics

In [18]:
trades['y_log_return'].describe()

count    35.000000
mean      0.001908
std       0.032511
min      -0.070597
25%      -0.015846
50%       0.003526
75%       0.014763
max       0.076903
Name: y_log_return, dtype: float64

In [19]:
print("The sample mean log return is ", trades['y_log_return'].mean())
print("The population mean log return is ", population['y_log_return'].mean())

The sample mean log return is  0.0019077453098868752
The population mean log return is  0.005224266059430747

In [20]:
print("Backtest sample statistics (log returns):")
print("Mean: ", trades['y_log_return'].mean())
print("Standard deviation: ", trades['y_log_return'].std())
print("N: ", trades['y_log_return'].count())
print("t: ", (trades['y_log_return'].mean() - population['y_log_return'].mean()) / (trades['y_log_return'].std() / (trades['y_log_return'].count() ** 0.5)))

Backtest sample statistics (log returns):
Mean:  0.0019077453098868752
Standard deviation:  0.03251087812071903
N:  35
t:  -0.6035149614769291

In [21]:
trades.iloc[-30:]

                                Close  buy_setup_int  exit_close  y_log_return
Date
2022-03-15 00:00:00-04:00  229.452667            1.0  247.361038      0.075152
2022-03-18 00:00:00-04:00  264.210663            1.0  267.017273      0.010567
2022-03-24 00:00:00-04:00  281.160187            1.0  276.585693     -0.016404
2022-04-28 00:00:00-04:00  197.581207            1.0  185.246109     -0.064464
2022-05-02 00:00:00-04:00  195.094193            1.0  195.783386      0.003526
2022-05-13 00:00:00-04:00  176.846268            1.0  172.431610     -0.025280
2022-05-17 00:00:00-04:00  181.550583            1.0  169.175537     -0.070597
2022-05-26 00:00:00-04:00  178.294510            1.0  186.494598      0.044966
2022-06-02 00:00:00-04:00  195.683487            1.0  186.974030     -0.045529
2022-06-24 00:00:00-04:00  171.089432            1.0  168.521988     -0.015120
2022-07-19 00:00:00-04:00  169.750748            1.0  177.892624      0.046849
2022-07-27 00:00:00-04:00  177.722794            1.0  179.660889      0.010846
2022-08-10 00:00:00-04:00  180.789764            1.0  179.241302     -0.008602
2022-10-04 00:00:00-04:00  131.577942            1.0  131.997635      0.003185
2022-10-17 00:00:00-04:00  118.796883            1.0  119.586319      0.006623
2022-10-25 00:00:00-04:00  132.517273            1.0  128.869843     -0.027910
2022-11-04 00:00:00-04:00  141.461029            1.0  142.909988      0.010191
2022-11-10 00:00:00-05:00  157.389877            1.0  163.155869      0.035980
2022-11-30 00:00:00-05:00  169.154953            1.0  171.274002      0.012449
2022-12-08 00:00:00-05:00  171.613846            1.0  169.934601     -0.009833
2023-01-09 00:00:00-05:00  156.210693            1.0  159.019440      0.017821
2023-01-20 00:00:00-05:00  178.310867            1.0  192.564545      0.076903
2023-02-01 00:00:00-05:00  209.337112            1.0  216.993713      0.035922
2023-02-07 00:00:00-05:00  221.631653            1.0  221.951523      0.001442
2023-02-14 00:00:00-05:00  229.608139            1.0  227.539062     -0.009052
2023-02-23 00:00:00-05:00  236.535049            1.0  232.756729     -0.016103
2023-03-16 00:00:00-04:00  255.340088            1.0  257.179596      0.007178
2023-05-25 00:00:00-04:00  379.696014            1.0  389.353363      0.025116
2023-08-14 00:00:00-04:00  437.455505            1.0  439.325165      0.004265
2023-08-21 00:00:00-04:00  469.590027            1.0  456.602203     -0.028047